.admin-page{
    section{
        width: 80%;
        margin: 1rem auto 2rem;
            text-decoration: none;
            article{
                display: flex;
                justify-content: space-around;
                align-items: center;
                img{
                    width: 100px;
                    height: 100px;
                }
            }
    }
}
