.user-page{
    .user-details-container{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .user-name{
            margin: 1rem 0 0;
        }
        .user-email{
            margin: 0 0 1rem;
        }
    }
    .create-task-section{
        .task-list{
            article{
                span{
                    font-size: 1rem;
                }
            }
        }
}
}

@media (min-width: 750px) {
    .user-page{
        .user-details-container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .create-task-section{
            width: 40%;
            margin: 0 auto;
    }
}
}