.user-page{
    .user-details-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            margin-top: 1rem;
            border-radius: 25px;
            width: 100px;
            height: 100px;
        }
        .user-name{
            font-size: 2rem;
            margin: 1rem 0 0.5rem;
        }
    }
    .to-do-section{
    display: flex;
     flex-direction: column;
     align-items: center;
        form{
            width: 30%;
            button{
                margin-top: 0.5rem;
            }
        }
        .to-do-list{
            article{
                margin:0 auto 1rem;
                padding: 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            span{
                margin:1rem;
            }
        }
    }
    
        
    }