.admin-user-info-page .user-details {
  display: flex;
  flex-direction: column;
  justify-content: center; }

@media (min-width: 990px) {
  .admin-user-info-page {
    display: grid;
    grid-template-columns: 30% 70%; } }
