.admin-page section {
  width: 80%;
  margin: 1rem auto 2rem;
  text-decoration: none; }
  .admin-page section article {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .admin-page section article img {
      width: 100px;
      height: 100px; }
