.user-page .user-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .user-page .user-details-container img {
    margin-top: 2rem;
    border: 1px solid black;
    border-radius: 25px;
    width: 100px;
    height: 100px; }
  .user-page .user-details-container .user-name {
    font-size: 2rem;
    margin: 1rem 0 0.5rem; }
  .user-page .user-details-container .user-id {
    margin-bottom: 2rem; }

.user-page .to-do-section form {
  margin: 1rem auto;
  width: 30%; }

.user-page .to-do-list article {
  width: 90%;
  margin: 0 auto 1rem;
  padding: 1rem; }
