.user-page .user-details-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .user-page .user-details-container img {
    width: 200px;
    height: 200px; }

.user-page .create-task-section .task-list article .task-title {
  font-size: 1.5rem; }

.user-page .create-task-section .task-list article p {
  font-size: 1.2rem; }

.user-page .create-task-section .task-list article span {
  font-size: 1rem; }

@media (min-width: 750px) {
  .user-page .user-details-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .user-page .user-details-container img {
      width: 100px;
      height: 100px; }
  .user-page .create-task-section {
    width: 40%;
    margin: 0 auto; } }
