body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; }

a, button {
  cursor: pointer; }

label {
  font-size: 1.2rem; }

button {
  margin: 0rem 0.5rem 0rem;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.493); }

button:hover {
  opacity: 0.5; }

.submit-button {
  margin: 0.5rem;
  color: white;
  background: linear-gradient(145deg, #c070dc, #a15fb9); }

.form {
  display: flex;
  flex-direction: column; }
  .form label {
    margin-bottom: 1rem; }
  .form input, .form textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 0.5rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; }

.white-container {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem; }

.crossed {
  text-decoration: line-through; }
